@font-face {
    font-family: "normal";
    src: url("font.woff") format("woff");
}

 @font-face{ 
     font-family: "light";
     src: url("font_light.woff");
}

* {
    font-family: "normal";
}

h1 {
    color: white;
    font-family: "light";
    margin-left: 5px
}

    
.fixed-box {
    position: fixed;
    top: 0px;
    width: 1620px;
    height: 60px;
    background-color: black;
    overflow: auto;
    margin-left: -10px
}

button {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 93.05%;
    transform: translate(-50%, -50%);
}