@font-face {
    font-family: "normal";
    src: url("font.woff") format("woff");
}

 @font-face{ 
     font-family: "light";
     src: url("font_light.woff");
}

* {
    font-family: "normal";
}

h1 {
    color: white;
    font-family: "light";
    margin-left: 5px
}

h2 {
    color: #f1ecdc;
    font-family: "light";
    margin-left: 5px
}

.home-bar {
    background-color: black;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 8%;
    max-width: 100%;
    margin-left: -10px;
    z-index: 1;
}

button {
    width: 4%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 98.1%;
    transform: translate(-50%, -50%);
}

.publicacion {
    position: absolute;
    background-color: white;
    left: 35%;
    top: 100px;
    width: 35%;
    height: 70%;
    color: cadetblue;
    object-fit: contain;
}

.imagen2 {
    position: absolute;
    background-color: black;
    left: 10px;
    top: 25px;
    width: 95%;
    height: 85%;
    color: cadetblue;
    object-fit:contain;
}

button1 {
    background-color: black;
    position: absolute;
    left: 10%;
    top:90%; 
}

button2 {
    background-color: black;
    position: absolute;
    right: 10%;
    top: 90%;
}


p1 {
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
    vertical-align: top;
    margin: 10px;
    top: 1%;
}
